<div id="loading"><img id="loading-text" src="<%= image_path("loading.gif") %>"></div>
<div id="term"></div>

<script type="application/javascript">
    var addResizing = true;
    (function openTerminal() {
        setTimeout(function() {
            var client = new WSSHClient();
            var term = new Terminal(80, 24, function(key) {
                client.send(key);
            });
            term.open();

            var options = {
                username: '<%= @instance.username %>',
                hostname: '<%= @instance.ip %>',
                command: '',
                authentication_method: 'password',
                password: "<%= @instance.password %>",
                port: '<%= @instance.port %>'
            }

            $('#term').empty();
            $('.terminal').detach().appendTo('#term');

            var h = $('.terminal').height();
            var fontSize = $('.terminal').css('font-size');
            var lineHeight = Math.floor(parseInt(fontSize.replace('px','')) * 1.4);
            term.resize(80, Math.floor(h/lineHeight));

            if (addResizing) {
                $(window).on('resize', function() {
                    var h = $('.terminal').height();
                    var fontSize = $('.terminal').css('font-size');
                    var lineHeight = Math.floor(parseInt(fontSize.replace('px','')) * 1.4);
                    term.resize(80, Math.floor(h/lineHeight));
                })
                addResizing = false;
            }

            term.write('Connecting...');
            client.connect($.extend(options, {
                onError: function(error) {
                    term.write('Error: ' + error + '\r\n');
                },
                onConnect: function() {
                    // Erase our connecting message
                    term.write('\r');
                },
                onClose: function() {
                    term.write('Connection Reset By Peer');
                    console.log('failed');
                    openTerminal();
                },
                onData: function(data) {
                    term.write(data);
                    $('.terminal').show();
                    $('#loading').hide();
                }
            }));
        }, 2250);
    })();
</script>